<! DOCTYPE html >
< html  lang = " {{site.lang | default: " en-US "}}" >
  < голова >

    {% if site.google_analytics%}
      < script  async  src = " https://www.googletagmanager.com/gtag/js?id= {{site.google_analytics}} " > </ script >
      < сценарий >
        окно . dataLayer  =  окно . dataLayer  ||  [ ] ;
        функция  gtag ( ) { dataLayer . push ( аргументы ) ; }
        gtag ( 'js' ,  новая  дата ( ) ) ;
        gtag ( 'config' ,  '{{site.google_analytics}}' ) ;
      </ скрипт >
    {% endif%}
    < meta  charset = " UTF-8 " >

{% seo%}
    < link  rel = " preconnect " href = " https://fonts.gstatic.com " >
    < link  rel = " preload " href = " https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap " as = " style " type = " text / css " crossorigin >
    < meta  name = " viewport " content = " width = device-width, initial-scale = 1 " >
    < meta  name = " theme-color " content = " # 157878 " >
    < meta  name = " apple-mobile-web-app-status-bar-style " content = " black-translucent " >
    < link  rel = " stylesheet " href = " {{'/assets/css/style.css?v=' | append: site.github.build_revision | relative_url}} " >
  </ голова >
  < тело >
    < ID = « пропустить к содержанию „ HREF =“ #content » > Перейти к содержимому. </ а > 

    < header  class = " page-header " role = " banner " >
      < h1  class = " project-name " > {{page.title | по умолчанию: site.title | по умолчанию: site.github.repository_name}} </ h1 >
      < h2  class = " project-tagline " > {{page.description | по умолчанию: site.description | по умолчанию: site.github.project_tagline}} </ h2 >
      {% if site.github.is_project_page%}
        < HREF = " {{site.github.repository_url}} " класс =" БТН " > Посмотреть на GitHub </ > 
      {% endif%}
      {% if site.show_downloads%}
        < HREF = " {{site.github.zip_url}} " класс =" БТН " > Скачать .zip </ > 
        < HREF = " {{site.github.tar_url}} " класс =" БТН " > Скачать .tar.gz </ > 
      {% endif%}
    </ заголовок >

    < main  id = " content " class = " main-content " role = " main " >
      {{ содержание }}

      < footer  class = " site-footer " >
        {% if site.github.is_project_page%}
          < Промежуток  класс =» Сайт-колонтитула-владелец " > < HREF =" {{site.github.repository_url}} " > {{site.github.repository_name}} </ > поддерживается < в HREF =" { {site.github.owner_url}} " > {{site.github.owner_name}} </ a > . </ span >  
        {% endif%}
        < Промежуток  класс = " сайт-футер-кредиты " > Эта страница была создана < в  HREF =" https://pages.github.com " > GitHub Pages </ > . </ span >
      </ нижний колонтитул >
    </ main >
  </ body >
</ html >
