#u2704-4
{
	font-family: raleway-n3, sans-serif;
}

#u2712-4
{
	font-family: raleway-n3, sans-serif;
}

#u2697-4
{
	font-family: raleway-n3, sans-serif;
}

#u2690-4
{
	font-family: raleway-n3, sans-serif;
}

#u2684-4
{
	font-family: raleway-n3, sans-serif;
}

#u2678-4
{
	font-family: raleway-n3, sans-serif;
}

#u2639-4
{
	font-family: raleway-n3, sans-serif;
}

#u7961-4
{
	font-family: raleway-n3, sans-serif;
}

#u7927-4
{
	font-family: raleway-n3, sans-serif;
}

#u7934-4
{
	font-family: raleway-n3, sans-serif;
}

#u7949-4
{
	font-family: raleway-n3, sans-serif;
}

#u7940-4
{
	font-family: raleway-n3, sans-serif;
}

#u7958-4
{
	font-family: raleway-n3, sans-serif;
}

#u2641-4
{
	font-family: open-sans-n7, sans-serif;
}

#u7914-4,#u7917-4,#u7915-4,#u7918-4,#u7916-4,#u7920-4
{
	font-family: raleway-n3, sans-serif;
}

#u7919-4,#u2666-4
{
	font-family: raleway-n4, sans-serif;
}

#u2668-4
{
	font-family: raleway-n3, sans-serif;
}

